.video-section {
    padding-bottom: 50px;
}

.video {
    padding-top: 62.5%;
    position: relative;
    height: 100%;
}

.video-frame {
    height: inherit;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .video-section {
        padding-bottom: 100px;
    }
}