.presentation {
    background-color: var(--accent-color);
    padding: 50px 0 10px 0;
}

.pr-card {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.pr-img {
    margin-right: 20px;
}

.text-accent {
    font-size: 1.3125rem;
    display: block;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .presentation {
        padding: 100px 0 60px 0;
    }
}