.project-statistic {
  padding: 100px 0;
  background-color: var(--accent-color);
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contain-project {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.project-image {
  width: 141px;
  height: 50px;
  object-fit: contain;
}

@media screen and (min-width: 1200px) {
  .icons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 520px){
    .project-statistic {
        padding: 10px 0;
    }
}