.webform-section {
    padding: 50px 0;
    background-color: var(--second-bg-color);
}

.webform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.webform-article-margins {
    margin-bottom: 30px;
}

.webform-text, .webform-email, .webform-message {
    padding: 1rem;
}

.webform-text, .webform-email {
    width: 100%;
    margin-bottom: 20px;
}

.webform-message {
    width: 100%;
    min-height: 175px;
}

.webform-text::placeholder, .webform-email::placeholder, .webform-message::placeholder {
    font-size: 0.875rem;
}

.webform-submit {
    padding: 20px 60px;
    background-color: var(--accent-bg-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px auto 0 auto;
}

@media screen and (min-width: 768px) {
    .webform-article-margins {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .webform-section {
        padding: 100px 0;
    }

    .webform-text, .webform-email {
        max-width: 47%;
    }

    .webform-submit {
        margin: 50px auto 0 auto;
    }
}