.form{
margin: 100px 0;
text-align: center;
}
.form_title{
margin-bottom: 40px;
}
.form_wrapper{
--width-input:255px;
--padding-input:10px;
}
.input {
  margin-bottom: 10px;
}
.messege {
  margin-bottom: 50px;
}
.input, .messege {
  min-width: var(--width-input);
  padding: var(--padding-input);
}
@media screen and (min-width:540px) {
  .messege {
    min-width: 510px;
  }
}
/*
@media screen and (min-width:768px) {
  .form {
    
  }
  .first-screen_button {
    margin: 0 auto;
  }
}*/