.form{
padding: 100px 0 50px 0;
background-color: var(--second-bg-color);
text-align: center;
}

.form_title{
margin-bottom: 40px;
}

.form_wrapper{
--width-input:255px;
--padding-input:10px;
}

.input {
  margin-bottom: 20px;
}

.messege {
  margin-bottom: 50px;
}

.input, .messege {
  min-width: var(--width-input);
  padding: var(--padding-input);
}

@media screen and (min-width:540px) {
  .form_title, .form_wrapper, .messege {
    min-width: 540px;
  }

  .input + .input {
    margin-left: 20px;
   }
}

@media screen and (min-width:768px) {
  .input_wrapper {
    display: flex;
  }

  .input {
   max-width: var(--width-input);
  }

  .input + .input {
    margin-left: 30px;
   }

  .first-screen_button {
    margin: 0 auto;
  }
}